<nav class="navbar has-shadow is-spaced has-background-dark" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="">
        <img src="assets/logo.svg" width="28px" height="28px">
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
        data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">

      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-info">
              <strong>Registrarse</strong>
            </a>
            <a class="button is-light">
              Ingresar
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="modal" [ngClass]="{ 'is-active' : modalActivo }">
  <div class="modal-background" (click)="toggleModal()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Sobre</p>
      <button class="delete" aria-label="close" (click)="toggleModal()"></button>
    </header>
    <section class="modal-card-body">
      <p>
        Sistema web creado por alumnos de la <a href="http://www.unnoba.edu.ar">UNNOBA</a> para la materia
        <strong>Sistemas Administrativos II</strong>.
      </p>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="toggleModal()">OK</button>
    </footer>
  </div>
</div>