<h1 class="title">Seleccione un libro o cuenta</h1>

<hr>

<div class="tabs is-boxed">
    <ul>
        <li class="is-active"><a>Libro diario</a></li>
        <li><a>Libro mayor</a></li>
       <!-- <li *ngFor="let cuenta of getCuentas()"><a href="#">{{ cuenta.nombre }}</a></li> -->
    </ul>
</div>
<!-- aca tendriamos que ver lo del ruteo. -->
<app-libro-diario></app-libro-diario>
<!-- Formato tentativo a utilizar por las tablas, debería ir en cada componente y no acá 
<div class="table-container">
    <table class="table is-fullwidth is-hoverable is-bordered">
        <thead>
            <tr>
                <th class="is-narrow has-text-centered">N.º</th>
                <th class="is-narrow has-text-centered">FECHA</th>

                <th class="has-text-centered">DESCRIPCIÓN</th>
                <th class="has-text-centered is-narrow"><abbr title="Debe">D</abbr></th>
                <th class="has-text-centered is-narrow"><abbr title="Haber">H</abbr></th>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngFor="let asiento of getAsientos(); let i = index;">
                <tr>
                    <td class="has-text-centered" [attr.rowspan]="tamanhoFilas(i)" class="is-vertical-center">
                        {{ asiento.nro_asiento }}</td>
                    <td class="has-text-centered" [attr.rowspan]="tamanhoFilas(i)" class="is-vertical-center">
                        {{ asiento.fecha | date: 'dd/MM/yyyy' }}</td>
                    <td [ngClass]="{'has-text-right': asiento.movimientos[0].tipo_mov === 'Haber'}">
                        {{ asiento.movimientos[0].nombre }}</td>
                    <td class="has-text-centered"
                        [innerText]="asiento.movimientos[0].tipo_mov === 'Debe' ? (asiento.movimientos[0].monto | currency:'ARS':'symbol':'1.2-2':'esAR') : ''">
                    </td>
                    <td class="has-text-centered"
                        [innerText]="asiento.movimientos[0].tipo_mov === 'Haber' ? (asiento.movimientos[0].monto | currency:'ARS':'symbol':'1.2-2':'esAR') : ''">
                    </td>
                </tr>
                <ng-container *ngFor="let movimiento of sliceMovimientos(i)">
                    <tr>
                        <td [ngClass]="{'has-text-right': movimiento.tipo_mov === 'Haber'}">{{ movimiento.nombre }}</td>
                        <td class="has-text-centered"
                            [innerText]="movimiento.tipo_mov === 'Debe' ? (movimiento.monto | currency:'ARS':'symbol':'1.2-2':'esAR') : ''">
                        </td>
                        <td class="has-text-centered"
                            [innerText]="movimiento.tipo_mov === 'Haber' ? (movimiento.monto | currency:'ARS':'symbol':'1.2-2':'esAR') : ''">
                        </td>
                    </tr>
                </ng-container>
            </ng-container>
        </tbody>

    </table>
</div>
-->