<h1 class="title">Carga de asiento</h1>

<hr>
<!-- (ngSubmit)="agregarAsiento(f)" -->
<form #f="ngForm">
    <div class="field">
        <label class="label">Cuenta</label>
        <div class="control has-icons-left">
            <div class="select is-fullwidth">
                <select name="nro" ngModel>
                    <option selected>Seleccione</option>
                    <option *ngFor="let cuenta of cuentas">
                        {{ cuenta.nombre }} ({{ cuenta.nro_cta }})
                    </option>
                </select>
            </div>
            <span class="icon is-small is-left">
                <i>
                    <fa-icon [icon]="faFolderOpen"></fa-icon>
                </i>
            </span>
        </div>
    </div>

    <div class="field">
        <label class="label">Monto</label>

        <div class="control has-icons-left">
            <input class="input" type="text" min=1 name="monto" ngModel>
            <span class="icon is-small is-left">
                <i>
                    <fa-icon [icon]="faDollarSign"></fa-icon>
                </i>
            </span>
        </div>
    </div>

    <!-- IMPEDIR QUE LA FECHA SEA MAYOR A HOY -->
    <div class="field">
        <label class="label">Fecha</label>
        <div class="control has-icons-left">
            <input class="input" type="date" [value]="fechaHoy" min="2010-01-01" name="fecha" ngModel>
            <span class="icon is-small is-left">
                <i>
                    <fa-icon [icon]="faCalendar"></fa-icon>
                </i>
            </span>
        </div>
    </div>

    <div class="field">
        <label class="label">Tipo</label>
        <div class="control">
            <label class="radio">
                <input type="radio" name="tipo" ngModel>
                Debe
            </label>
            <label class="radio">
                <input type="radio" name="tipo">
                Haber
            </label>
        </div>
    </div>

    <hr>

    <div class="has-text-centered">
        <button class="button is-medium is-info" type="submit">
            <span class="icon is-small is-left">
                <i>
                    <fa-icon [icon]="faSave"></fa-icon>
                </i>
            </span>
            <span>Cargar asiento</span>
        </button>
    </div>
</form>