<h1 class="title">Carga de asiento</h1>

<hr>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">Cuenta</label>
    </div>

    <div class="field-body">
        <div class="select">
            <select>
                <option>Seleccione</option>
                <option>Proveedores</option>
                <option>Caja</option>
            </select>
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">Monto</label>
    </div>

    <div class="field-body">
        <p class="control has-icons-left">
            <input class="input" type="text" min=1>
            <span class="icon is-small is-left">
                <i>
                    <fa-icon [icon]="faDollarSign"></fa-icon>
                </i>
            </span>
        </p>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">Fecha</label>
    </div>

    <div class="field-body">
        <p class="control has-icons-left">
            <input class="input" type="date">
            <span class="icon is-small is-left">
                <i>
                    <fa-icon [icon]="faCalendar"></fa-icon>
                </i>
            </span>
        </p>
    </div>

</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">Tipo</label>
    </div>

    <div class="field-body">
        <div class="control">
            <label class="radio">
                <input type="radio" name="tipo_t">
                Debe
            </label>
            <label class="radio">
                <input type="radio" name="tipo_t">
                Haber
            </label>
        </div>
    </div>
</div>

<div class="has-text-centered">
    <a class="button is-medium is-primary">
        <span class="icon is-small is-left">
            <i>
                <fa-icon [icon]="faSave"></fa-icon>
            </i>
        </span>
        <span>Registrar asiento</span>
    </a>
</div>