<h1 class="title">Cuenta nueva</h1>

<hr>

<!-- TODO: Generar notificación de éxito/error al enviar el formulario -->
<form #formCuenta="ngForm" (ngSubmit)="agregarCuenta(formCuenta)">

    <div class="columns">
        <div class="column is-6">
            <div class="field">
                <label class="label">Nombre</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="text" name="nombre" ngModel required #nombre="ngModel">
                    <span class="icon is-small is-left">
                        <i>
                            <fa-icon [icon]="faScroll"></fa-icon>
                        </i>
                    </span>
                    <span class="icon is-small is-right">
                        <i>
                            <fa-icon *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
                                [icon]="faExclamationCircle">
                            </fa-icon>
                        </i>
                    </span>
                </div>
                <p class="help is-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">Ingrese un nombre
                    para
                    la cuenta.</p>
            </div>
        </div>

        <div class="column is-3">
            <div class="field">
                <label class="label">Nro.</label>
                <!-- TODO: Comprobar que el nro. de cuenta no exista antes de enviar. -->
                <div class="control has-icons-left">
                    <input class="input" type="number" min=1 name="nro" ngModel required #nro="ngModel">
                    <span class="icon is-small is-left">
                        <i>
                            <fa-icon [icon]="faPen"></fa-icon>
                        </i>
                    </span>
                </div>
                <p class="help is-danger" *ngIf="nro.invalid && (nro.dirty || nro.touched)">Ingrese un número
                    para la cuenta.</p>
            </div>
        </div>

        <div class="column is-3">
            <div class="field">
                <label class="label">Tipo</label>
                <div *ngFor="let tipo of tipos">
                    <label class="radio">
                        <input [value]="tipo" type="radio" name="tipo" ngModel required>
                        {{ tipo }}
                    </label>
                </div>
            </div>
        </div>

    </div>


    <!--   #tipo="ngModel"
    <div class="field">
        <label class="label">Monto inicial</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input" type="number" min=0 name="monto" ngModel required #monto="ngModel">
            <span class="icon is-small is-left">
                <i>
                    <fa-icon [icon]="faDollarSign"></fa-icon>
                </i>
            </span>
            <span class="icon is-small is-right">
                <i>
                    <fa-icon *ngIf="monto.invalid && (monto.dirty || monto.touched)" [icon]="faExclamationCircle"></fa-icon>
                </i>
            </span>
        </div>
        <p class="help is-danger" *ngIf="monto.invalid && (monto.dirty || monto.touched)">Ingrese un monto inicial
            para la cuenta.</p>
    </div>
    -->

    <hr>

    <div class="has-text-centered">
        <button class="button is-medium is-info" type="submit" [disabled]="!formCuenta.valid">
            <span class="icon is-small is-left">
                <i>
                    <fa-icon [icon]="faSave"></fa-icon>
                </i>
            </span>
            <span>Crear</span>
        </button>
        <p class="help is-danger" *ngIf="formCuenta.invalid">Complete el formulario para crear la cuenta.</p>
    </div>
</form>