<app-header></app-header>

<section class="section">
  <div class="container ">
    <div class="tile is-ancestor">

      <div class="tile is-parent is-7">
        <div class="tile is-child box is-clipped">
          <app-libros></app-libros>
        </div>
      </div>  <!-- Cierra tile izquierda -->

      <div class="tile is-vertical is-parent is-5">
        <div class="tile is-child box">
          <app-asiento></app-asiento>
        </div>

        <div class="tile is-child box">
          <app-cuenta></app-cuenta>
        </div>

      </div> <!-- Cierra tile derecha -->

    </div> <!-- Cierra tile padre -->
  </div> <!-- Cierra container -->
</section>

<app-footer></app-footer>