<div class="table-container is-scrollable">
    <table class="table is-fullwidth is-hoverable is-bordered" id="ldiario" #ldiario>
        <thead>
            <tr class="has-background-grey">
                <th class="is-narrow has-text-centered has-text-white">N.º</th>
                <th class="is-narrow has-text-centered has-text-white">FECHA</th>
                <th class="has-text-centered has-text-white">CUENTAS</th>
                <th class="has-text-centered is-narrow has-text-white"><abbr title="Debe">D</abbr></th>
                <th class="has-text-centered is-narrow has-text-white"><abbr title="Haber">H</abbr></th>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngFor="let asiento of getAsientos(); let i = index;">
                <tr>
                    <td class="has-text-centered" [attr.rowspan]="tamanhoFilas(i)" class="is-vertical-center">
                        {{ asiento.nro_asiento }}</td>
                    <td class="has-text-centered" [attr.rowspan]="tamanhoFilas(i)" class="is-vertical-center">
                        {{ asiento.fecha | date: 'dd/MM/yyyy' }}</td>
                    <td [ngClass]="{'has-text-right': asiento.movimientos[0].tipo_mov === 'Haber'}">
                        {{ asiento.movimientos[0].nombre }}</td>
                    <td class="has-text-centered"
                        [innerText]="asiento.movimientos[0].tipo_mov === 'Debe' ? (asiento.movimientos[0].monto | currency:'ARS':'symbol':'1.2-2':'esAR') : ''">
                    </td>
                    <td class="has-text-centered"
                        [innerText]="asiento.movimientos[0].tipo_mov === 'Haber' ? (asiento.movimientos[0].monto | currency:'ARS':'symbol':'1.2-2':'esAR') : ''">
                    </td>
                </tr>
                <ng-container *ngFor="let movimiento of sliceMovimientos(i)">
                    <tr>
                        <td [ngClass]="{'has-text-right': movimiento.tipo_mov === 'Haber'}">{{ movimiento.nombre }}</td>
                        <td class="has-text-centered"
                            [innerText]="movimiento.tipo_mov === 'Debe' ? (movimiento.monto | currency:'ARS':'symbol':'1.2-2':'esAR') : ''">
                        </td>
                        <td class="has-text-centered"
                            [innerText]="movimiento.tipo_mov === 'Haber' ? (movimiento.monto | currency:'ARS':'symbol':'1.2-2':'esAR') : ''">
                        </td>
                    </tr>
                </ng-container>
            </ng-container>
        </tbody>

    </table>
</div>

<button class="button is-danger is-small is-outlined" (click)="generarPdf(ldiario)">
    <span class="icon is-small is-left">
        <i>
            <fa-icon [icon]="faFilePdf"></fa-icon>
        </i>
    </span>
    <span>Exportar como PDF</span>
</button>